/* 
=========================
    Website Strucuture
=========================

1. Global Attributes------------------ line 30            
2. Text elements---------------------- line 51
3. Navigation------------------------- line 112
4. Header----------------------------- line 165   
5. Main------------------------------- line 199
    5.1 homepage---------------------- line 205
    5.2 learn & newsletter------------ line 254
    5.3 board------------------------- line 314
    5.4 tournaments------------------- line 369
6. Footer----------------------------- line 410

*/

/*
 =========================
  CSS naming conventions
 =========================
  1. refactoring - using of many selectors instead of repeating the selector and style
  2. structuring and style - the first layer of the div are structuring tags which determines   the size and postioning. while the style attributes are found on the second and third child element. 

 */

/* 
=========================
  1. Global Attributes
=========================
*/

:root {
  --dark-color: #1c1e21;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-color: var(--white-color);
  color: var(--dark-color);
}

html {
  scroll-behavior: smooth;
}

/* 
=========================
  2. Text elements
=========================
*/

h1,
h2,
h3,
p,
blockquote {
  margin-bottom: 1rem;
} /* this is called css refactoring */

h1,
caption {
  font: 700 3.5rem "Montserrat", sans-serif;
}

h2 {
  font: 700 2.5rem "Montserrat", sans-serif;
}

h3 {
  font: 700 1.5rem "Montserrat", sans-serif;
}

p,
blockquote,
table {
  font: 400 1.125rem "Open Sans", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  font: 400 1.125rem/1.625rem "Open Sans", sans-serif;
}

.top {
  float: right;
  color: var(--dark-color);
  position: fixed;
  margin-top: 36px;
  margin-left: 1700px;
  opacity: 0.5;
}

.top:hover {
  opacity: 1;
}

.archive {
  color: #1c93c5;
}

.archive:hover {
  color: #1686b6;
}
/* 
=========================
  3. Navigation
=========================
*/

nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #113448;
  padding: 0.375rem 1.5rem 0.375rem 2rem;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.nav-logo {
  padding-left: 5rem;
}

.logo {
  height: 50px;
}

.menu {
  align-items: center;
  margin-left: auto;
  list-style-type: none;
  padding: 1rem 5rem;
}

.menu-item .menu-link {
  padding: 0.625rem 0.75rem 0.625rem 0.75rem;
  color: #ffffff;
  transition: all 0.2s ease;
  display: inline;
  font: 600 0.875rem "Open Sans", sans-serif;
}

.menu-item .menu-link:hover {
  color: #14bf98;
}

.menu-item {
  display: inline-block;
}

/* 
=========================
  4.  Header
=========================
*/

.header {
  background-image: url("images/cover.jpg");
  background-size: cover;
  height: 900px;
}

.header-content {
  padding-top: 20rem;
  padding-bottom: 17.5rem;
  text-align: center;
  color: #ffffff;
}

.discover {
  display: inline-block;
  margin-top: 2.5rem;
  padding: 1rem 2.125rem 1rem 2.125rem;
  border: 0.125rem solid #14bf98;
  border-radius: 0.25rem;
  background-color: #14bf98;
  color: #ffffff;
  transition: all 0.2s;
}

.discover:hover {
  background-color: #14bf9800;
}

/* 
=========================
  5.  Main
=========================
*/

/* 
=================
  Main-homepage
================= 
  */

main {
  text-align: justify;
  line-height: 1.5rem;
  align-items: center;
  margin-top: 3rem;
  min-height: 100vh;
}

.page {
  padding: 2rem 15rem 0 15rem;
}

.learn,
.newsletter,
.board,
.tournament {
  margin: 0 5rem;
  padding-top: 4rem;
}

.page-content {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.page-content-text,
.page-content-title,
.page-content-photo {
  display: block;
  position: relative;
  max-width: 50%;
  min-width: 50%;
  padding: 0 3rem;
  align-items: flex-start;
}
.content-photo {
  height: 400px;
  margin-left: auto;
  padding: 1rem;
}

/*
==========================
  Main-learn & newsletter 
==========================
*/

.page-links {
  display: flex;
  flex-wrap: wrap;
}

.learn-links,
.learn-content-anchor a {
  color: #1c93c5;
  transition: all 0.3s ease 0s;
}

.learn-links {
  padding: 2rem 2.5rem;
}

.learn-link {
  height: 200px;
  width: 200px;
}

.learn-links a:hover,
.learn-content-anchor a:hover {
  color: #1686b6;
}

.learn-content {
  display: flex;
  width: 65%;
  margin-bottom: 4rem;
}

.learn-content-anchor {
  height: 80px;
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.anchorImage {
  height: 80px;
}
.learn-content-anchor li {
  display: inline-block;
  width: 520px;
}

.learn-content-topic {
  width: 58%;
}

.learn-content-title p,
.learn-title-title {
  width: 61%;
}

.move-demo {
  height: 500px;
  width: 500px;
  padding: 1rem;
  margin-left: 5rem;
}

.move-demo:hover,
.learn-photo:hover {
  transform: scale(1.2);
}

.learn-photo {
  height: 500px;
  width: 500px;
}

.movement li {
  /* chess movement on ol */
  list-style-type: lower-alpha;
  margin-left: 1.5rem;
}

/*
================
  Main-board
================
*/

.board {
  padding: 3rem;
  margin-top: 2rem;
}

.board-title {
  align-items: center;
}

.light {
  background-color: #c0c0c0;
  width: 70px;
  height: 70px;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

.light:hover {
  background-color: #808080;
}

.dark {
  background-color: #14281d;
  width: 70px;
  height: 70px;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

.dark:hover {
  background-color: #0f3f23;
}

.row {
  margin: 0rem;
}

.rank {
  display: flex;
  flex: 1;
  flex-direction: row;
}

#c-board {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 560px;
  box-shadow: 0px 0px 20px #000000db;
  border: solid 0px;
}

.chessboard {
  margin: auto;
}

.board-pic {
  height: 65px;
  padding-left: 12px;
  cursor: pointer;
}

#captures {
  height: 340px;
  width: 540px;
  background-color: #d1d1d1;
  border: solid 0px;
  box-shadow: 0px 0px 10px #0000008a;
}

.padd {
  padding: 10px 10px;
  color: #1c1e21;
}

/*
============================
  Main tournaments
============================
*/

.table {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: solid #808080 1px;
}

th,
td {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

caption {
  padding: 1.5rem;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #113448;
  text-align: center;
  color: #ffffff;
}

/* 
==============
  footer
============== 
*/

footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
}

.footer-name,
.footer-links {
  margin: auto;
}

.footer-links-a li,
.link-footer,
.copyright {
  display: inline-block;
  color: #0b0b0b;
}

.link-footer:hover,
.copyright:hover {
  color: #14bf98;
}

/* forms */

.board-buttons {
}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 95%;
  margin-top: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #113448;
}

input:focus + .slider {
  box-shadow: 0 0 1px #113448;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-button1 {
  display: inline-block;
  width: 150px;
  font-size: 1.25rem;
  margin-top: 2.5rem;
  padding: 1rem 2.125rem 1rem 2.125rem;
  border-radius: 0.25rem;
  background-color: #14bf98;
  color: #ffffff;
  transition: all 0.2s;
}

#form-mid {
  margin-left: 200px;
}

.form-button1:hover {
  background-color: #086b56;
  color: #ffffff;
}

/* grid layout */

.board {
  display: grid;
  padding-top: 150px;
}

.board-item1 {
  margin-left: 250px;
  grid-column: 1 / 2;
}
.board-item2 {
  grid-column: 3 / 4;
  margin-right: 250px;
}
